<div class="row">
  <div class="col-6">
    <h1 class="my-4">
      Add a note
    </h1>
  </div>
  <div class="col-6">
    <button (click)="navigateToNotebooks()" class="btn btn-sm btn-danger float-right mt-5">
      Back to diaries
    </button>
  </div>
</div>

<hr />
<form [formGroup]="notebookForm" #form="ngForm" (submit)="addnoteBook(form)">
  <div class="row justify-content-center mt-3">
    <div class="col-3">
      <h4>Description</h4>
    </div>
    <div class="col-9">
      <mat-form-field>
        <input matInput placeholder="Choose a short and descriptive title" formControlName="title" />
        <mat-error *ngIf="notebookForm.controls['title'].errors?.required">
          Title is required
        </mat-error>
      </mat-form-field>

      <div class="example-full-width">
        <quill-editor formControlName="description" [style]="{ height: '400px' }"></quill-editor>
      </div>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-3">
      <h4>Privacy</h4>
      <p>Who all can view this note</p>
    </div>
    <div class="col-9">
      <div class="people-avatar-container">
        <figure *ngFor="let user of users" class="user-badge clickable" (click)="addOrRemovePerson(user.userId)">
          <i *ngIf="notebookForm.value['people'] != null ? notebookForm.value['people'].indexOf(user.userId) > -1 : false"
            class="fas fa-check-circle"></i>
          <img [appUserAvatar]="user.userId">
          <p [appUserName]="user.userId" class="text-center mt-1"></p>
        </figure>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-sm btn-outline-success">Save Note</button>
    </div>
  </div>
</form>