<div class="container-fluid">

  <section class="row py-0 align-items-center">
    <div class="col-md-9 col-sm-12 information-container p-5 my-o">

      <div class="jumbotron py-3">
        <h1 class="display-5 text-center text-dark mb-4 mt-3">Real-time Project management tool</h1>
        <!-- <p class="lead">The Javascript Project management tool.</p> -->
        <hr class="my-4">
        <p>Pod has everything you need to track a project from start to finish. The flexibility, combined
          with the intuitive features the app offers mean your team will not only become better collaborators but they
          will massively increase their productivity on a daily basis.</p>

        <div class="row mt-4 mb-1 features text-center">
          <div class="col-2">
            <img src="/assets/icons/clock.png" alt="Time logs and Reports">
            <p>Time logs &amp; Reports</p>
          </div>
          <div class="col-2">
            <img src="/assets/icons/rating.png" alt="Comments and Files">
            <p>Comments &amp; Files</p>
          </div>
          <div class="col-2">
            <img src="/assets/icons/chat.png" alt="Group and Direct Chats">
            <p>Group &amp; Direct chats</p>
          </div>
          <div class="col-2">
            <img src="/assets/icons/diagram.png" alt="Tasks and Boards">
            <p>Tasks &amp; Boards</p>
          </div>
          <div class="col-2">
            <img src="/assets/icons/hand-bag.png" alt="Roles and Priveleges">
            <p>Roles &amp; Priveleges</p>
          </div>
          <div class="col-2">
            <img src="/assets/icons/paper-plane.png" alt="Push Notifications">
            <p>Push Notifications</p>
          </div>
        </div>

        <p class="text-muted">
          POD was created because we needed a better way to run our own business. Existing software was
          either subscription based or too confusing. POD is practical software that gets you organized so that
          you can reduce unnecessary meetings and simply get things done
        </p>


      </div>

      <!-- <div class="card-group">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Administrator</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-outline-secondary">Apply Credentials</button>
          </div>
        </div>
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Project Manager</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-outline-secondary">Apply Credentials</button>
          </div>
        </div>
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Associate</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-outline-secondary">Apply Credentials</button>
          </div>
        </div>
      </div> -->
      <!-- <div class="card">
        <div class="card-body">
          <p>Admin</p>
        </div>
      </div> -->
    </div>

    <div class="col-md-3 col-sm-12 px-5 form-container">

      <router-outlet></router-outlet>

    </div>


  </section>

</div>