@import './../../../../../theme';

.card {
  .card-header {
    img {
      border-radius: 32px;
      height: 64px;
      width: 64px;
      object-fit: cover;
      border: 1px solid black;
    }
  }
  .card-body {
    p {
      margin-bottom: 5px;
      color: #555;
      i {
        margin-right: 5px;
        color: $primary;
      }
    }
  }
}
