section {
  border-bottom: 1px solid #ccc;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: white;
  }
  .action-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
