<div class="card border-success shadow-sm">
  <div class="card-header bg-dark text-white">
    Change Password
  </div>
  <div class="card-body">
    <form class="example-form" [formGroup]="changePasswordForm" #form="ngForm" (submit)="CreateNewPassword(form)">

      <mat-form-field class="example-full-width">
        <input matInput type="password" formControlName="newPassword" placeholder="New Password">
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.required">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.required">
          Password is required
        </mat-error>
      </mat-form-field>

      <button class="btn btn-sm btn-outline-success" [disabled]="isPasswordChangeProgress" type="submit">
        {{isPasswordChangeProgress ? 'Processing...' :'Change Password'}}
      </button>
    </form>
  </div>
</div>