<footer class="footer mt-5 py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p class="m-0">
          Copyright &copy;
          <a
            href="https://codecanyon.net/item/pod-realtime-project-management-software/22669718"
            target="_blank"
            >Pod</a
          >
          {{ year }}. All rights reserved
        </p>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <p class="m-0 text-right">
          <span class="mr-1">
            <i class="fab fa-angular"></i> +
            <i class="fas fa-fire"></i>
          </span>
          |
          <a class="ml-1 mr-1" href="https://docs.zweck.io/pod/" target="_blank"
            >Docs</a
          >|
          <span class="ml-1 text-muted"
            >Product from
            <a href="http://zweck.io" target="_blank">zweck.io</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
