<div class="row mb-2">

  <div class="col-12">
    <h2>Add Files</h2>
  </div>

  <div class="col-12">

    <p>You can add multiple files. Upload only starts after clicking the button.</p>

    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile04" multiple (change)="selectFiles($event)"
          aria-describedby="inputGroupFileAddon04">
        <label class="custom-file-label" for="inputGroupFile04">Add files</label>
      </div>

    </div>

    <div *ngIf="files.length" class="mt-3 text-center">
      <button class="btn btn-primary" type="button" (click)="uploadFiles()">Start Uploading</button>
    </div>


  </div>


</div>

<hr>

<div *ngFor="let file of files" class="row files-container align-items-end">
  <div class="col-11">
    <p>{{file.name}}</p>
    <div class="progress">
      <div class="progress-bar" [ngClass]="{'bg-success' : file.percent == 100}" [style.width.%]="file.percent" role="progressbar">{{
        file.percent }}%</div>
    </div>
  </div>
  <div class="col-1" *ngIf="!file.percent">
    <button class="btn btn-sm btn-danger" type="button">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
<p class="text-muted text-center">Wait seconds for the newly uploaded file to be listed</p>